<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <property name="LOG_DIR" value="gateway/" />
    <property name="SERVICE_NAME" value="api-gateway" />
    <property name="HOME_LOG" value="logs/gateway/app.log"/>
    <property name="pattern" value="[%d{yyyy-MM-dd HH:mm:ss}] ${myappName} [%thread] %-5level %logger{36}.%M - trace id: %X{traceId} - Span id : %X{spanId}   %msg%n" />
    <springProperty scope="context" name="myappName" source="spring.application.name"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/</file>
        <append>true</append>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/gateway/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>1MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
				it will delete old archived file -->
            <totalSizeCap>2GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="info" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
    <root level="info">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE"/>-->
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-ROLLING"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>
    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>